div#adminmenumain {
  display: none;
}

#wpcontent {
  margin-left: 0px!important;
  padding-left: 0px!important;
}

.notice {
  display: none;
}
html.wp-toolbar {
    padding-top: 0px!important;
}
div#wpadminbar {
    display: none;
}
